body{
  margin: 0;
}
button{
  height: 50px;
  width: 180px;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(45deg, orange, crimson, orange);
  border-radius: 10px;
}
p{
  font-size: 18px;
  text-align: justify;
}
.parent{
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.section-one{
  width: 50%;
  margin: 0 auto;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
}
.section-one img{
  width: 80%;
  margin-left: 100px;
}
.inside-header{
  margin-top: 100px;
  margin-left: 30px;
}
#stick{
  width: 4px;
  height: 150px;
  background-color: rgb(233, 46, 13);
  margin-top: -216px;
  margin-left: -18px;
  border-radius: 100px;
}
.details-one{
  font-size: 22px;
  margin-top: 40px;
}
.section-header{
  font-size: 27px;
  font-family: 'Special Elite', cursive;
  margin-top: 5%;
}
.three-box{
  height: 400px;
  width: 600px;
  background-color:gray;
  margin-right: 30px;
  margin-bottom: 5%;
  border-radius: 30px;
}
.resolutions{
  width: 50%;
  height: 50%;
  margin-left: 20px;
}
.three-box-about{
  margin-left: 10%;
  margin-right: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.right-shapes{
  width: 450px;
  margin-top: 50px;
}
.shape-side-details{  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  margin-top: 100px;
  margin-left: 80px;
}
.half-shape{
  width: 18%;
  margin-top: 95px;
  margin-left: 30px;
  margin-bottom: -400px;
}
.fourth-details{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  margin-top: 100px;
  margin-right: 80px;
}
.third-image img{
  width: 450px;
  margin-top: 80px;
  margin-bottom: 25%;
}
.round-shape{
  width: 15%;
  margin-left: 80%;
  margin-bottom: -600px;
}
.final-header{
  height: 180px;
  background-color:black;
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
}
#final{
  padding-top: 10px;
}
footer{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  opacity: 70%;
}
#contact-header{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  
}
#contact{
  margin-bottom: 6%;
}
.loc-email-call{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#contact-info{
  width: 100%;
  margin-left: 50px;
  margin-top: 50px;
}
#name{
  width: 47%;
  height: 30px;
  margin-right: 39px;
}
#email{
  width: 47%;
  height: 30px;
}
#subject{
  width: 100%;
  height: 30px;
  margin-top: 30px;
}
#message{
  width: 100%;
  height: 130px;
  margin-top: 30px;
}
#send-message{
  margin-top: 30px;
  margin-left: 40%;
}
placeholder{
  font-size: 100px;
}